@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* TODO */
/* Improve image debug view = basically explain that Debug replaces all images with grey squares for fixing site scaling and other stuff */
/* Remove redundant code */


html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

h1 {
  font-size: 7.993rem;
}

/* Scene 1 */

#scene1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0rem;
  font-family:"Roboto Mono", monospace
}

#scene1 > div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profilePicture > img {
  border-radius: 100%;
  width: 60%;
}

/* Scene 1 */
/* Scene Universal */
.scene {
  /* padding: 0px 16rem; */
  padding: 0px 20.5rem;
}
/* Scene Universal */
/* Scene 2 \/ ImageScene */

.imageScene {
  height: 100vh;
  /* padding: 1rem; */
  /* background: yellow; */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

}

.imagecontainer {
  /* padding: 2rem; */
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.imagecontainer > button {
  grid-area: 3 / 2 / 4 / 3;
  height: 2.5rem;
  border: 0px;
  border-radius: .25rem;
}

/*  \/  DEBUG Currently styling divs so I can code the image Scene */
.DEBUG {
  background: rgb(215, 215, 215);
  aspect-ratio: 1/1;
  /* width: 100%; */
  /* Margin: auto; */
  border-radius: .25rem;
}

/* Scene 2 /\ ImageScene*/